.widget-especialidades-1 {
    padding:0px;
    background: #663399;
}

.widget-especialidades-1 .widget-content-inner
{
	margin-top: 40px;
	margin-bottom: 50px;
}

.widget-especialidades-1 .widget-content-inner .title {

	
	text-align: center;

}

.widget-especialidades-1 .widget-content-inner .title p{

	font-size: 34px;
	font-style: italic;
	font-weight: 700;
	line-height: 1em;
	color: #ffffff;
	padding: 0px;
	margin: 0px;

}

.widget-especialidades-1 .widget-content-inner .card-container
{
	display: block;
	margin-top: 25px;
}


.widget-especialidades-1 .widget-content-inner .card-especialdad
{
	text-align: center;
	margin-top: 10px;
}

.widget-especialidades-1 .widget-content-inner .card-especialdad a{

	text-decoration: none;
}

.widget-especialidades-1 .widget-content-inner .card-especialdad img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.widget-especialidades-1 .widget-content-inner .card-especialdad span{
	display: block;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	margin-top: 15px;
}



